.app-wrapper {
  padding-top: 4rem;
}

.app-top-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-header {
  background: rgba(255,255,255,.2);
  box-shadow: 0 .6rem .1rem -.3rem rgba($color-dark, .05);
  padding: 1rem;
  @include clearfix;
  z-index: 10001;


  // make it draggable since we're removing chrome
  -webkit-user-select: none;
  -webkit-app-region: drag;
  a,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="text"],
  button,
  textarea {
  	-webkit-app-region: no-drag;
  }
}
.app-title {
  margin: 0 0 0 65px;
  font-size: 1.4rem;
  opacity: .2;
}
.header-controls {
  float: right;
  padding: 2rem 2rem 0 0;
}

.patchboard{
  font-size: 1rem;
}

.patch-preview {
  -webkit-user-select: none;
  word-break: break-all;
  cursor: pointer;
  display: inline-block;
  width: 20rem;
  margin: 2rem;
  background: #fff;
  font-size: 1.4em;
  // box-shadow: 0 .6rem .2rem -.2rem rgba($color-dark, .2);
  @include shadow-box-interactive;

  header {
    padding: .5rem 1rem;
    border-bottom: .1rem solid $color-light;
  }

  .patch-title {
    margin: 0;
    padding: 0;
  }

  .patch-body {
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
  }

  .patch-footer {
    font-size: 1em;
    padding: .5rem 1rem;
    border-top: .1rem solid $color-light;
  }
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
}
.overlay-shade {
  background: rgba($color-medium, .8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
.patch-editor-wrapper {
  padding: 6rem 4rem 4rem 4rem;
}
.patch-editor {
  background: #fff;
  max-width: 60rem;
  margin:0 auto;
  position: relative;
  padding: 4rem;

  h2 {
    margin: 0;
  }
}

.patch-input {
  display: block;
  word-break: break-all;
  font-family: monospace;
  width: 100%;
}




@media (min-width: 700px) {
}
