.app-wrapper {
  padding-top: 4rem;
}

.app-top-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-header {
  background: rgba(255,255,255,.2);
  box-shadow: 0 .6rem .1rem -.3rem rgba($color-dark, .05);
  padding: 1rem;
  @include clearfix;
  z-index: 10001;


  // make it draggable since we're removing chrome
  -webkit-user-select: none;
  -webkit-app-region: drag;
  a,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="text"],
  button,
  textarea {
  	-webkit-app-region: no-drag;
  }
}
.app-title {
  margin: 0 0 0 65px;
  font-size: 1.4rem;
  opacity: .2;
}
.header-controls {
  float: right;
  padding: 2rem 2rem 0 0;
}


.patch-preview {
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-block;
  width: 20rem;
  margin: 2rem;
  background: #fff;
  box-shadow: 0 .6rem .2rem -.2rem rgba($color-dark, .2);

  header {
    padding: .5rem 1rem;
    border-bottom: .1rem solid $color-light;
  }

  .patch-title {
    margin: 0;
    padding: 0;
  }

  .patch-body {
    padding: 1rem;
  }

  .patch-footer {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-top: .1rem solid $color-light;
  }
}


.overlay-shade {
  background: rgba($color-dark, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw
  z-index: 2000;
}




@media (min-width: 700px) {
}
