.app-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  &.modal-visible {
    overflow: hidden;
  }
}

.app-top-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: map-get($zindex, header);
}

.app-header {
  background: rgba(255,255,255,.5);
  box-shadow:
    0 .1rem .35rem -.2rem rgba($color-dark, .65),
    0 .6rem 1.65rem -1rem rgba($color-dark, .2);
  margin: 0 -4rem;
  padding: 1rem 5rem;
  height: 4rem;
  @include clearfix;
  z-index: map-get($zindex, header);


  // make it draggable since we're removing chrome
  -webkit-user-select: none;
  -webkit-app-region: drag;
  a,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="text"],
  button,
  textarea {
  	-webkit-app-region: no-drag;
  }
}
.app-title {
  margin: 0 20rem 0 65px;
  font-size: 1.4rem;
  opacity: .3;
}

.main-header-controls {
  width: 20rem;
  float: right;
}


.patchboard-wrapper {
  position: relative;
  height:2000px;
  width: 2000px;
  font-size: 1rem;
  overflow: hidden;

  &.modal-open {
    // TODO: how to prevent scrolling?
  }
}
.patchboard-controls {
  position: fixed;
  top: 4rem;
  right: 0;
  padding: 2rem 2rem 0 0;
  font-size: 1.6rem;
  z-index: map-get($zindex, header);

  button {
    margin-left: 1rem;
  }
}

$gridLineOpacity: .2;
$gidLineColor: rgba(255, 255, 255, $gridLineOpacity);
$majorGridLineOpacity: .6;
$majorGidLineColor: rgba(255, 255, 255, $majorGridLineOpacity);
.patchboard{
  // font-size: 1rem;
  height:2000px;
  width: 2000px;
  background-size: 10em;
  background-color: transparent;
  background-image:
    // horizontal
    linear-gradient(
      180deg,
      $gidLineColor 0%,
      $gidLineColor .5%,
      transparent 1%,
      transparent 19%,
      $gidLineColor 20%,
      $gidLineColor 20.5%,
      transparent 21%,
      transparent 39%,
      $majorGidLineColor 40%,
      $majorGidLineColor 40.5%,
      transparent 41%,
      transparent 59%,
      $gidLineColor 60%,
      $gidLineColor 60.5%,
      transparent 61%,
      transparent 79%,
      $gidLineColor 80%,
      $gidLineColor 80.5%,
      transparent 81%,
      transparent
      ),
    // vertical
    linear-gradient(
      90deg,
      $majorGidLineColor 0%,
      $majorGidLineColor .5%,
      transparent 1%,
      transparent 19%,
      $gidLineColor 20%,
      $gidLineColor 20.5%,
      transparent 21%,
      transparent 39%,
      $gidLineColor 40%,
      $gidLineColor 40.5%,
      transparent 41%,
      transparent 59%,
      $gidLineColor 60%,
      $gidLineColor 60.5%,
      transparent 61%,
      transparent 79%,
      $gidLineColor 80%,
      $gidLineColor 80.5%,
      transparent 81%,
      transparent
      );
}


.svg-arrow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events:none;
}

.patch-node {
  -webkit-user-select: none;
  overflow-wrap: break-word;
  cursor: pointer;
  display: block;
  width: 16rem;
  height: 16rem;
  padding: .5rem;
  margin: 0;
  position: absolute;
  font-size: 1.2em;
  perspective: 1000px;

  .patch-node-wrapper {
    width: 15rem;
    height: 15rem;
    background: #fff;
    box-shadow: 0 .3rem .2rem 0 rgba($color-background, .1),
                0 .3rem .8rem -.4rem rgba($color-link, .2),
                0 0 .3rem -.1rem rgba($color-dark, .6),
                0 0 4rem -1.6rem rgba($color-link, .8),
                0 .8rem 1rem -.6rem rgba($color-dark, .05);
    transition: .3s;
  }

  .patch-header {
    height: 2.4rem;
    padding: .6rem 1rem;
    border-bottom: .1rem solid $color-light;

    .patch-title {
      height: 1.2rem;
      line-height: 1.2rem;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  .patch-body {
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -.05rem;
    height: 10.2rem;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background:
      linear-gradient(
        0deg,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,1) 1%,
        rgba(255,255,255,.6) 14%,
        transparent 15%,
        transparent
        );
    }
  }

  .patch-footer {
    height: 2.4rem;
    padding: .6rem 1rem;
    font-size: 1em;
    border-top: .1rem solid $color-light;
    position: relative;
  }

  .menu-button {
    display: block;
    float: right;
    padding: .6rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    text-align: right;
  }

  &:hover {
    .patch-node-wrapper {
      transition: .1s;
      box-shadow: 0 .1rem .1rem 0rem rgba($color-background, .2),
                  0 .1rem .4rem -.2rem rgba($color-link, 1),
                  0 0 .3rem -.1rem rgba($color-dark, .6),
                  0 0 5rem -1rem rgba($color-link, .2),
                  0 .3rem .4rem -.2rem rgba($color-dark, .4);
    }
  }

  &.didMouseDown1 {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    outline: none;

    .patch-node-wrapper {
      transition: .035s;
      transform: scale(0.98);
      // transform: rotateX(10deg) translateY(-.4em);
      box-shadow: 0 .1rem .1rem 0 rgba($color-background, .2),
                  0 .1rem .4rem -.1rem rgba($color-link, 1),
                  0 .3rem 1.2rem -.2rem rgba($color-dark, .6);
    }
  }

  &.dragging {
     // this cursor style also gets set to the body inside of a react component function,
     // so even if cursor misses for a frame it will maintain
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    outline: none;

    .patch-node-wrapper {
      transition: .3s;
      // transform: rotateX(10deg) translateY(-.4em) scale(1.03);
      box-shadow: 0 .8rem .3rem -.3rem rgba($color-background, .2),
                  0 1.4rem 2.4rem -1.2rem rgba($color-link, 1),
                  0 1.8rem 2.9rem -.8rem rgba($color-dark, .6);
    }
  }
}

.patch-node-animation-enter {
  opacity: 0.01;
  .patch-node-wrapper {
    transform: scale(0.01);
  }
}

.patch-node-animation-enter.patch-node-animation-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-out;
  .patch-node-wrapper {
    transform: scale(1.0);
    transition: all 100ms ease-out;
  }
}

.patch-node-animation-leave {
  pointer-events:none;
  opacity: 1;
}

.patch-node-animation-leave.patch-node-animation-leave-active {
  pointer-events:none;
  opacity: 0.01;
  outline: .1rem solid $color-medium;
  transition: opacity 1500ms ease-out;
  background: rgba($color-light, .35);
  .patch-node-wrapper {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }

}

.patch-node-menu {
  background: $color-white;
  margin: 0;
  padding: .3rem;
  border-top: .1rem solid $color-light;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 1.4rem;
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 2.3rem;
    color: $color-dark;
    // border-left: .3rem solid $color-white;
    // border-right: .3rem solid $color-white;
    border-bottom: .1rem solid $color-light;
    position: relative;

    &:hover {
      background: $color-light;
    }
  }
}

.patch-footer .patch-node-menu {
  margin: .4rem -1rem 0 -1rem;
}

.delete-button {
  &::before {
    content: 'X';
    display: inline-block;
    position: absolute;
    left: .4rem;
    vertical-align: middle;
  }
}

.set-starting-patch-button {
  &::before {
    content: '▶︎';
    display: inline-block;
    position: absolute;
    left: .4rem;
    vertical-align: middle;
  }
}

.patch-id {
  color: $color-medium;
}

.starting-patch-tag {
  display: inline-block;
  background: #a6dfa9;
  color: $color-white;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-radius: .2rem;
  padding: .3rem .5rem .2rem .5rem;
  margin: -.3rem 1rem -.3rem 1.2rem;
  // display: block;
  // position: absolute;
  // width: 5.4rem;
  // top: .2rem;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  text-align: center;
}

.starting-patch-info {
  display: inline-block;
  padding: 1rem;
  color: #a6dfa9;
  color: #96c399;
}

/*

overlays

*/


.modal-and-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: map-get($zindex, overlay);
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  // padding: 6rem; // minimum edge between browser window edge

  overflow-y: scroll;
  perspective: 10000px;

  .overlay-click-to-close {
    background: rgba($color-medium, .8);
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  &.closing {

    .overlay-click-to-close {
      opacity: 0.01;
      transition: 200ms opacity ease-out;
    }
  }

}

.modal-wrapper {
  z-index: map-get($zindex, modal);
  // hack(?) for centering an absolutely-positioned element:
  // from https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/
  width: 90%;
  max-width: 120rem;
  margin: 8rem auto 6rem auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.modal {
  background: #fff;
  padding: 4rem; // margin inside of modal
  position: relative;
}
.close-modal-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem 4rem;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4rem;
  color: $color-medium;
}

.modal-animation-appear {
  pointer-events: none;
  opacity: 0.01;
  .modal {
    transform: scale(0.1);
  }
}
.modal-animation-appear.modal-animation-appear-active {
  pointer-events: none;
  opacity: 1;
  transition: opacity 175ms ease-out;
  .modal {
    transform:scale(1);
    transition: all 175ms ease-in;
  }
}

.modal-animation-enter {
  pointer-events: none;
  opacity: 0.01;
  .modal {
    transform: translateX(25vw);
  }
}

.modal-animation-enter.modal-animation-enter-active {
  pointer-events: none;
  opacity: 1;
  transition: opacity 300ms ease-in;
  z-index: 99999999;
  .modal {
    transform: translateX(0vw);
    transition: all 300ms ease-out;
    z-index: 99999999;
  }
}

.modal-animation-leave {
  pointer-events: none;
  opacity: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  transition: 0 all ease-in;
  .modal {
    opacity: .3;
  }
}

.modal-animation-leave.modal-animation-leave-active {
  pointer-events: none;
  opacity: 0.01;
  transition: all 200ms ease-out;
  .modal {
    // transform: rotateX(0) translateY(0vh) scale(1);
    // transform:scale(1);
    // transform: translateX(-100vw);
    opacity: .3;
    transform:scale(.01);
    transition: all 200ms linear;
  }
}


// edit patches
.modal.patch-editor {

  .story-preview-wrapper {
    padding: 8rem;
  }

  .patch-editor-controls {
    text-align: right;
  }

  .patch-input-and-preview-container{
    display: flex;
    padding-top: 2rem 0 0 0;
  }
  .patch-entry {
    flex: 1;
  }
  .patch-input {
    display: block;
    font-family: monospace;
    width: 100%;
  }
  .formatted-preview-section {
    flex: 1;
    padding-left: 4rem;
    font-size: .8em;
  }

  .formatted-article {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    padding: 4rem;
    border: .1rem solid $color-light;
  }
}



@media (min-width: 700px) {
}
